<!DOCTYPE html>
<html>
<head>
    <title>Erreur 500 - Problème Serveur</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}" />
</head>
<body>
    <div class="error-wrapper">
        <h1>Erreur 500</h1>
        <p>Oops! Quelque chose s'est mal passé de notre côté.</p>
        <p>Nous travaillons pour résoudre le problème. Veuillez réessayer plus tard.</p>
        <a href="/"><button>Retour à l'accueil</button></a>
    </div>
</body>
</html>
